<html>
{% include 'hackathon/base.html' %}
<head>
	<style>
		table {
		  font-family: arial, sans-serif;
		  border-collapse: collapse;
		  width: 50%;
		  margin:auto;
		}
		
		td, th {
		  border: 1px solid #dddddd;
		  text-align: left;
		  padding: 8px;
		}
		
		tr:nth-child(even) {
		  background-color: #dddddd;
		}
		</style>
</head>
<body>


	<div class="row text-center">
		<h3><u>Account</u></h3>
		<br>
		<table>
			<thead>
				<tr>
					<th>S.No</th>
					<th>Book Name</th>
					<th>Inventory In Date</th>
					<th>Inventory Out Date</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Harry Potter</td>
					<td>01/03/2021</td>
					<td>03/03/2021</td>
				</tr>
			</tbody>
		</table>
  	</div>


</body>
</html>
